[Unit]
Description=Onegroup Openvpn manager
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/onegroup

[Install]
WantedBy=multi-user.target
