{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block body %}
    <body>
        <center>
            <img src="static/logoblue.png"
                 width="150" height="75"/>
                <div id="loginDiv">
                    <h3> Download Key</h3>
                    <a href="/test" download><button class='btn btn-default'>Download</button></a>
                    <br  />
                    <br  />
                    <a href = "/index"> Back to Home</a>
                </div>
        </center>
    </body>
{% endblock %}
