{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='status.js') }}"></script>
    <body>
        <div class="contentDiv">
            <h2>Network Activity</h2>
            <!--<table>-->
                <!--<tr>-->
                    <!--<th>Users</th>-->
                    <!--<th>Address</th>-->
                    <!--<th>Rules/Filtering</th>-->
                    <!--<th>Connection Type</th>-->
                    <!--<th>Connection Expires</th>-->
                <!--</tr>-->
                <!--<tr><td>SebShery</td><td>192.168.0.1</td><td>Check Rules</td><td>Bridge</td><td>10/05/2017</td></tr>-->
                <!--<tr><td>JaysTurn</td><td>192.168.0.1</td><td>Check Rules</td><td>Route</td><td>11/05/2017</td></tr>-->
                <!--<tr><td>OlivJohn</td><td>192.168.0.1</td><td>Check Rules</td><td>Route</td><td>12/05/2017</td></tr>-->
            <!--</table>-->
            <div id="statusTable" align="center" style="margin-top: 10px; overflow-y: scroll;">
            </div>
            <a href="{{ url_for('filluserform',form='CU') }}"><button> Add Client</button></a>
            <div id= "bodydiv">
                <!-- <div class= "bodydiv" id= "formDivleft">
                    <h2>Enter User Details</h2>
                    <form action="{{ url_for('home') }}" vname="userForm" id="detailsLeft" method=post>
                        <p>Name</p>
                        <input type="text" name="name1" placeholder="Enter Name" maxlength="40" > </input>

                        <p>Email</p>
                        <input type="text" name="email1" placeholder="Enter Email" onkeyup="checkForm()" maxlength="40"> </input>

                        {#<p>Password</p>#}
                        {#<input type="text" name="pass1" placeholder="Enter Password" maxlength="40"> </input>#}

                        <p>Account Type</p>
                        <select name="accountType1">
                            <option value="Client">Client</option>
                            <option value="Admin">Admin</option>
                        </select>

                        <p>Authentication Type</p>
                        <select name="authType1">
                            <option value="Password">Username & Password</option>
                            <option value="Radius">Radius</option>
                            <option value="Phone">Phone</option>
                        </select>
                        <br></br>
                        <div class= "bodydiv" div id = "submitDiv">
                          <input type="submit" onclick="submitForm()" name="userforms" value="Send"></input>
                        </div>
                    </form>
                </div> -->
                <h2>VPN Status</h2>
                <p>Server IP:</p> <input type="text" value="192.168.0.1">
                <button onclick="myFunction()">Confirm</button>
                <p>Server Name:</p> <input type="text" value="Ernest's Nest">
                <button onclick="myFunction()">Confirm</button>
            </div>

        </div>
    </body>
{% endblock %}
