{% extends "layout.html" %}
{% block body %}
            <script type="text/javascript" src="{{ url_for('static', filename='status.js') }}"></script>            
    <body>
        <div class="contentDiv">
            <h2>Quick Options</h2>
            <a href="{{ url_for('filluserform',form='CU') }}"><button> Add Client</button></a>
            <a href="{{ url_for('fillgroupform',form='CG') }}"><button> Add Group</button></a>
            <a href="{{ url_for('iptable_form',ruleid='-1') }}"><button> Add Rules</button></a>
            <h2>Network Activity</h2>
            <div id="statusTable" align="center" style="margin-top: 1%; overflow-y: scroll;">
                    <form>
                            
                    </form>
            </div>
            <h2>Routing Activity</h2>
            <div id="statusRouteTable" align="center" style="margin-top: 1%; overflow-y: scroll;">
                    <form>
                            
                    </form>
            </div>

            <h2>Log Snapshot</h2>
            <div id="logTableSmall" align="center" style="margin-top: 1%; overflow-y: scroll;">
                <form>
    
                </form>
            </div>

        </div>
    </body>
{% endblock %}
