{% extends "layout.html" %}

{% block body %}
    <body>	
        {% if postback < 0 %} 
	        <form action="{{ url_for('iptable_form', nid = -1, ruleid = -2) }}" vname="ruleType" id="detailsLeft" method=post>
	            <h2>Rule Type</h2>
                    <select name="ruleType1">
	                    <option disabled selected value> -- Select -- </option>
                        <option value="0">Standard Rule</option>
                        <option value="1">Policy Rule</option>
                    </select>                

	            <div class= "bodydiv" div id = "submitDiv">
                    <input type="submit" name="ruleform1" value="OK"></input>
                </div>
            </form>
        {% else %}	
            <form action="{{ url_for('iptable_form', nid = -1, ruleid = -1) }}" vname="ipform" method=post>
                <select value = "CHAIN" id = "Chain" name = "Chain" required>
                    <option disabled selected> -- Select -- </option>
                    <option value ="INPUT">INPUT</option>
                    <option value ="OUTPUT">OUTPUT</option>
                    <option value ="FORWARD">FORWARD</option>
                    <option value ="PREROUTING">PREROUTING</option>
                    <option value ="POSTROUTING">POSTROUTING</option>
                </select>

    	        <br  />

                {% if policy == "0" %}
                    <label for ="source">Source</label>
                    <br  />
                    <input type = "text" id = "source"  name = "source">
                    <br  />
                    <label for = "sport">port</label>
                    <br  />
                    <input type = "text" id = "sport"  name = "sport">
                    <br  />
                    <label for ="destination">Destination</label>
                    <br  />
                    <input type = "text" id = "destination" name = "destination">
                    <br  />
                    <label for = "dport">port</label>
                    <br  />
                    <input type = "text" id = "dport"  name = "dport">
                    <br  />
                    <select value = "TABLE" id = "Table" name = "Table" >
                        <option value = "" selected> -- No Table -- </option>
                        <option value ="nat">nat</option>
                        <option value ="filter">filter</option>
                        <option value ="mangle">mangle</option>
                    </select>
                    <br  />
                    <label for ="input">Input Interface</label>
                    <br  />
                    <input type = "text" id = "input" name = "input">
                    <br  />
                    <label for ="output">Output Interface</label>
                    <br  />
                    <input type = "text" id = "output" name = "output">
                    <br  />
                    <select value = "PROT" id = "Protocol" name = "Protocol" >
                        <option value = "" selected>PROT</option>
                        <option value ="tcp">tcp</option>
                        <option value ="icmp">icmp</option>
                        <option value ="udp">udp</option>
                    </select>
                    <br  />
                    <select value = "STATE" id = "State" name = "State" >
                        <option value ="" selected>STATE</option>
                        <option value ="NEW">NEW</option>
                        <option value ="ESTABLISHED">ESTABLISHED</option>
                        <option value ="RELATED">RELATED</option>
                     </select>
                {% endif %}

                <select value = "ACTION" id = "Action" name = "Action" required>
                    <option disabled selected> -- Select -- </option>
                    <option value ="DROP">DROP</option>
                    <option value ="ACCEPT">ACCEPT</option>
                    <option value ="REJECT">REJECT</option>
                    <option value ="DNAT">DNAT</option>
                    <option value ="SNAT">SNAT</option>
                </select>

                {% if nodes %}
                    <p>Assign Node</p>
                    <select name="node1">
                        {% for node in nodes %}
                            <option value="{{ node["ID"] }}">{{ node["Name"] }}</option>
                        {% endfor %}                    	
                    </select>
                {% endif %}
                <div class= "bodydiv" id = "submitDiv">
                     <input type="submit" name="iptables1" value="Send"></input>
                </div> 
            </form>
        {% endif %}
    </body>
{% endblock %}
