<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel= "stylesheet" type = text/css href =  "{{ url_for('static', filename='style.css') }}">         
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='status.js') }}"></script>            
        <meta charset="utf-8" />
        <meta name="description" content= "Ernest Foo gonna bring it to you" />
        <meta name="viewport" content="width=device-width, initial-scale=0.5" />
        <title>OneGroup OpenVPN Solution</title>
    </head>

    {% block header %}
        <div id="headContainer">
            <div id="headLeft">
                <img src="{{ url_for('static', filename = 'logo.png') }}"
                     width="150" height="75"/>
            </div>
            <div id="headCenter">
                <h1>OneGroup</h1><p>OpenVPN Management Solution</p>
            </div>
            <div id="headRight">
				<div id = "topleft" class="inner" >
					<p> Network Status:</p> <statustext id = "staus">ONLINE </statustext>
				</div>
				<div id = "topright" class="inner" >
					<p> Current Users:</p><h5 id = "currentUsers"></h5>
				</div>
				<div id = "bottomleft" class="inner">
					<button onclick="enableServer()">Turn On</button>
				</div>
				<div id = "bottomright" class="inner">
					<a href="/logout/"><button>Logout</button></a>
				</div>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/index"> <img src="{{ url_for('static', filename = 'home.png') }}"
                        width="25" height="25"/> Home</a>
                </li>
                <li class="alternate">
                    <a href="/logs"> <img src="{{ url_for('static', filename = 'logs.png') }}"
                        width="25" height="25"/>Logs</a>
                </li>
                <li>
                    <a href="/config"> <img src="{{ url_for('static', filename = 'gear.png') }}"
                        width="25" height="25"/>Configuration</a>
                </li>
                <li class="alternate">
                    <a href="/users"> <img src="{{ url_for('static', filename = 'users.png') }}"
                        width="20" height="25"/>Users</a>
                </li>
            </ul>
        </nav>

        <div id="alertDiv">
        {% with messages = get_flashed_messages() %}
         {% if messages %}
           <ul class=flashes>
           {% for message in messages %}
             <li>{{ message }}</li>
           {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}
     </div>
    {% endblock %}

  <div class = "contentPush">
    {% block body %}
    {% endblock %}
  </div>

    <footer>
        <p> VPN Management</P>
        <a href="/index"><h4>
          OneGroup.
        </h4></a>
    </footer>
</html>