{% extends "layout.html" %}
{% block body %}
           <script type="text/javascript" src="{{ url_for('static', filename='logpage.js') }}"></script>
    <body>
        <div class="contentDiv">
            <div id="logSettings">
                <h2>Log Settings</h2>
                <div id="infoDiv">
                    <h2>Time</h2>
                    <form action="." name="timeStamp" id="timeBracket" onsubmit="validateForm()" method="POST">
                        Start Date: <input id="dateStart" onkeyup="tableFilter()">
                        End Date: <input type="date" id="dateEnd" name="endDate" onkeyup="addInfo()">
                    </form>
                </div>
                <div id="exportSettings">
                    <h2>Export Settings</h2>
                    <form action="." name="settings" id="fileSettings" onsubmit="validateForm()" method="POST">
                    </form>
                </div>
            </div>
            <br  />
            <br  />
            <br  />
            <br  />
            <br  />
            <br  />
            <div id="midDiv">
                <center>
                    <button id="preview">Preview Logs</button>
                    <button id="export">Export Logs</button>
                </center>
            </div>
            {% if False %}
            <div class="" id="previewDiv">
            </div>
            {% endif %}

            <img src="{{ url_for('static', filename = 'images.png') }}"
                 width="75" height="75" onmouseup="addInfo()"/>
        <div id="logTable" class="tableScroll" align="center" style="margin-top: 10px">
                <form>


            <input type="button" id = "logButton" , style="background-color: #dddddd; outline-color: #666666; color: black; " value="Logs", onclick = "addInfo()" >
            </form>
            </div>

        </div>
    </body>

{% endblock %}
