{% extends "layout.html" %}
{% block body %}
           <script type="text/javascript" src="{{ url_for('static', filename='logpage.js') }}"></script>
    <body>
        <div class="contentDiv">
            <div id="logSettings">
                <h2>Log Settings</h2>
                <div id="infoDiv">
                    <h2>Search</h2>
                    <form action="." name="timeStamp" id="timeBracket" onsubmit="validateForm()" method="POST">
                        Date: <input id="dateStart" onkeyup="tableFilter()">
                        Activity: <input type="date" id="dateEnd" name="endDate" onkeyup="tableFilter()">
                    </form>
                </div>
                <div id="exportSettings">
                    <h2>Export Settings</h2>
                    <form action="." name="settings" id="fileSettings" onsubmit="validateForm()" method="POST">
                        Start: <input type="date" id="exportStart" name = "eStart"><br/>
                        End: <input type="date" id="exportEnd" name = "eEnd">
                    </form>
                </div>
            </div>
            <br  />
            <br  />
            <br  />
            <br  />
            <br  />
            <br  />
            <div id="midDiv">
                <center>
                    <button id="preview">Preview Logs</button>
                    <button id="export">Export Logs</button>
                </center>
            </div>
            {% if False %}
            <div class="" id="previewDiv">
            </div>
            {% endif %}

        <div id="logTable" align="center" style="margin-top: 10px; overflow-y: scroll;">
          <form>


            <input type="button" id = "logButton" , style="background-color: #dddddd; outline-color: #666666; color: black; " value="Logs", onclick = "addInfo()" >
            </form>
        </div>

        </div>
    </body>

{% endblock %}
