{% extends "layout.html" %}
{% block body %}
<body>
    <a href = "{{ url_for('logout') }}">Log Out</a>
    <center>
        <div class="contentDiv">
            <h3> Reset Password </h3>
            <form action="" vname="userForm" id="detailsLeft" method=post>
                <p>Password</p>
                <input type="password" name="pass1" placeholder="Enter Password" maxlength="40"> </input>
                <p>Confirm Password</p>
                <input type="password" name="passconfirm" placeholder="Confirm Password" maxlength="40"> </input>
                <div class= "bodydiv" div id = "submitDiv">
                  <input type="submit" name="userforms" value="Send"></input>
                </div>
            </form>
        </div>
    </center>
</body>
{% endblock %}
