{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block body %}
<body>
    <center>
        <div class="contentDiv">
            <h3> Welcome, {{ username }} </h3>
            <img src="{{ url_for('static', filename = 'logoblue.png') }}"
                width="150" height="75"/>
            <!--if keys are not downloaded!-->
            {% if key_distributed == 0 %} 
            	<div id="loginDiv">
                    <h3> Download Key</h3>
                    <a href="/userkey" download><button class='btn btn-default'>Download</button></a>
                    <br  />
             	    <br  />
		    <a href = "{{ url_for('logout') }}">Log Out</a>
		</div>
 	    <!--if keys are downloaded!-->
            {% elif key_distributed == 1 %}
		<div id="loginDiv">            	
		    <a href="/create_request" download><button class='btn btn-default'>Request New Keys</button></a>
		    <br  />
                    <br  />
	            <a href = "{{ url_for('logout') }}">Log Out</a>
		</div>
            {% endif %}
            <a href = "/password"> <h3> Reset Password </h3></a>
        </div>
    </center>
</body>
{% endblock %}
