{% extends "layout.html" %}
{% block body %}
<div id= "formDiv">        
    <div class="contentDiv">
        <div class= "bodydiv">
            <div class= "bodydiv" id= "formDiveft">
                <h2>Enter Group Details</h2>
                <form action="" vname="groupEditForm" id="detailsLeft" method=post>
                    <p>Group Name</p>
                    <input type="text" name="groupname2" required value="{{ groupname }}" maxlength="40" > </input>

                    <p>Group Internal Network Address</p>
                    <input type="text" name="internal2" required value="{{ internal }}" maxlength="40"> </input>

                    <p>Group External Network Address</p>
                    <input type="text" name="external2" required value="{{ external }}" maxlength="40"> </input>

                    {% if node != -1 %}
                        <br  />
                        <p>Assigned Node {{ node }}</p>
                    {% endif %}
                    
                    <br></br>
                    <div class= "bodydiv" div id = "submitDiv">
                        <input type="submit" name="groupform2" value="Send"></input>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
