{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div id= "formDiv">        
    <div class="contentDiv">
        <div class= "bodydiv">
            <div class= "bodydiv" id= "formDiveft">
                <h2>Enter User Details</h2>
                <form form action="/userforms.html" id="detailsLeft" method="POST">
                {% if formType == 1 %}
                    <form action="{{ url_for('home') }}" vname="userForm" id="detailsLeft" method=post>
                        <p>Name</p>
                        <input type="text" name="name1" placeholder="Enter Name" maxlength="40" > </input>

                        <p>Email</p>
                        <input type="text" name="email1" placeholder="Enter Email" onkeyup="checkForm()" maxlength="40"> </input>

                        {# <p>Password</p> #}
                        {# <input type="text" name="pass1" placeholder="Enter Password" maxlength="40"> </input> #}

                        <p>Account Type</p>
                        <select name="accountType1">
                            <option value="Client">Client</option>
                            <option value="Admin">Admin</option>
                        </select>

                        <p>Authentication Type</p>
                        <select name="authType1">
                            <option value="Password">Username & Password</option>
                            <option value="Radius">Radius</option>
                            <option value="Phone">Phone</option>
                        </select>
                        <br></br>
                        <div class= "bodydiv" div id = "submitDiv">
                          <input type="submit" name="userforms" value="Send"></input>
                        </div>
                    </form>
		{% elif formType == 0 %}
                    <!--Edit User Details Form!-->
		    <p>Name</p>
                    <input type="text" name="name2" maxlength="40" required value="{{ username }}"> </input>

                    <p>Email</p>
                    <input type="text" name="email2" maxlength="40" required value="{{ email }}"> </input>

                    <p>Authentication Type</p>
                    <select name="authType2">
                        <option value="Password">Username & Password</option>
                        <option value="Radius">Radius</option>
                        <option value="Phone">Phone</option>
                    </select>

                    <p>Account Type</p>
                    <select name="accountType2">
                        <option value="Client">Client</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <input type="submit" name="userforms" value="Send">
                {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
