{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div id= "formDiv">        
    <div class="contentDiv">
        <div class= "bodydiv">
            <div class= "bodydiv" id= "formDiveft">
                <h2>Enter User Details</h2>
                <form action="{{ url_for('home') }}" vname="userEditForm" id="detailsLeft" method=post>
		    <p>Name</p>
                    <input type="text" name="name2" maxlength="40" required value="{{ username }}"> </input>

                    <p>Email</p>
                    <input type="text" name="email2" maxlength="40" required value="{{ email }}"> </input>

                    <p>Authentication Type</p>
                    <select name="authType2">
                        {% if authtype == "Passphrase" %}
                            <option value="Passphrase" selected>Username & Password</option>
                            <option value="Radius">Radius</option>
                            <option value="Phone">Phone</option>
                        {% elif authtype == "Radius" %}
                            <option value="Passphrase">Username & Password</option>
                            <option value="Radius" selected>Radius</option>
                            <option value="Phone">Phone</option>
                        {% else %}
                            <option value="Passphrase">Username & Password</option>
                            <option value="Radius">Radius</option>
                            <option value="Phone" selected>Phone</option>
                        {% endif %}
                    </select>

                    <p>Account Type</p>
                    <select name="accountType2">
                        {% if accounttype == "Client" %} 
                            <option value="Client" selected>Client</option>
                            <option value="Admin">Admin</option>
                        {% else %}
                            <option value="Client">Client</option>
                            <option value="Admin" selected>Admin</option>
                        {% endif %}
                    </select>
                    <input type="submit" name="groupform2" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
