{% extends "layout.html" %}
{% block header %}
<a href = "{{ url_for('logout') }}">Log Out</a>
{% endblock %}
{% block body %}
<body>
    <center>
        <div class="contentDiv">
            username: {{ username }}
            <br  />
            <!--find if keys downloaded!-->
            <!--if keys are not downloaded!-->
            {% if True %} <!--if username.HasKeys!-->
            <button>Download Keys</button>
            {% else %}
            <!--if keys are downloaded!-->
            <button>Request New Keys</button>
            {% endif %}
        </div>
    </center>
</body>
{% endblock %}
