{% extends "layout.html" %}
{% block body %}
    <body>
        <center>
            <h1> Current Activity </h1>

            <table>
                <tr>
                    <th>Users</th>
                    <th>Address</th>
                    <th>Authentication</th>
                    <th>Connection Type</th>
                    <th>Group</th>
                    <th>Expiry</th>
                    <th>Options</th>
                    <th>Keys</th>
                </tr>
                {% if dataU != None %}
                    {% if dataU[0] is mapping%}  
                    {%for users in dataU%}
                      <tr>
                        <td>{{users["Name"]}}</td>
                        <td>{{users["Email"]}}</td>
                        <td>{{users["Auth_Type"]}}</td>
                        <td>{{users["Account_Type"]}}</td>
                        <td>{{users["Grp"]}}</td>
                        <td>{{users["Expiry"]}}</td>
                        <td>
                            <a href="/userform/{{users["ID"]}}">
                                <button>Edit</button>
                            </a>
                            <form action="{{ url_for('delete_key') }}" method=post>
                            <input type="text" name="name" value= {{users["ID"]}} id = "hiddenInput" readonly>
                            <input type="submit" value="Delete" id = "declineButton"></input>
                            </form>
                        </td>
                        <td>
                            <a href="/admin_key/{{users["Name"]}}" download><button class='downloadButton' id= "testButton">Download</button></a>
                        </td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                    {% if dataU[0] is not mapping %}
                    <tr>
                        <td>{{dataU["Name"]}}</td>
                        <td>{{dataU["Email"]}}</td>
                        <td>{{dataU["Auth_Type"]}}</td>
                        <td>{{dataU["Account_Type"]}}</td>
                        <td>{{dataU["Grp"]}}</td>
                        <td>{{dataU["Expiry"]}}</td>
                        <td>
                            <a href="/form/{{dataU["ID"]}}">
                                <button>Edit</button>
                            </a>
                            <form action="{{ url_for('delete_key') }}" method=post>
                            <input type="text" name="name" value= {{dataU["ID"]}} id = "hiddenInput" readonly>
                            <input type="submit" value="Delete" id = "declineButton"></input>
                            </form>
                        </td>
                        <td>
                                <a href="/admin_key/{{dataU["Name"]}}" download><button class='downloadButton' id= "testButton">Download</button></a>
                        </td>
                      </tr>
                    {% endif %}
                {% endif %}
              </table>

            <h2>Current Requests</h2>

            <div id="userReqTable" align="center" style="margin-top: 10px;">

                <table>
                  <tr>
                      <th>Users</th>
                      <th>Request</th>
                      <th>Approval?</th>
                  </tr>
                    {% if dataR != None %}      
                    {% if dataR is mapping %}                     
                      {%for notifications in dataR %}
                        <tr><td>{{notifications["User"]}}</td>
                          <td>{{notifications["Request"]}}</td>
                          <td><form action="{{ url_for('approve_req') }}" vname="approveForm" method=post>
                            <input type="text" name="user" value= {{notifications["User"]}} id = "hiddenInput" readonly>
                            <input type="text" name="request" value= {{notifications["Request"]}}  id = "hiddenInput" readonly>
                            <input type="submit" name="reqOption" value="Approve" id = "approveButton"></input>
                            <input type="submit" name="reqOption" value="Decline" id = "declineButton"></input>
                          </form>
                          </td>
                        </tr>
                      {% endfor %}
                      {% endif %}
                      {% if dataR is not mapping %} 
                      <tr><td>{{dataR["User"]}}</td>
                        <td>{{dataR["Request"]}}</td>
                        <td><form action="{{ url_for('approve_req') }}" vname="approveForm" method=post>
                          <input type="text" name="user" value= {{dataR["User"]}} id = "hiddenInput" readonly>
                          <input type="text" name="request" value= {{dataR["Request"]}}  id = "hiddenInput" readonly>
                          <input type="submit" name="reqOption" value="Approve" id = "approveButton"></input>
                          <input type="submit" name="reqOption" value="Decline" id = "declineButton"></input>
                        </form>
                        </td>
                      </tr>
                      {% endif %}
                {% endif %}
                </table>

                <h2>Current Groups</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Internal Network</th>
                        <th>External Network</th>
                        <th>Options</th>
                    </tr>
                    {% if dataG != None %}
                        {% if dataG[0] is mapping %}
                            {%for members in dataG %}
                            <tr>
                                <td>{{members['Name']}}</td>
                                <td>{{members['Internal']}}</td>
                                <td>{{members['External']}}</td>
                                <td>
                                    <a href="/groupform/{{members["ID"]}}">
                                        <button>Edit</button>
                                    </a>
                                    <form action="{{ url_for('delete_group') }}" method=post>
                                    <input type="text" name="name" value= {{members["ID"]}} id = "hiddenInput" readonly>
                                    <input type="submit" value="Delete" id = "declineButton"></input>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        {% if dataG[0] is not mapping %}
                        <tr>
                            <td>{{dataG['Name']}}</td>
                            <td>{{dataG['Internal']}}</td>
                            <td>{{dataG['External']}}</td>
                            <td>
                                <a href="/groupform/{{dataG["ID"]}}">
                                    <button>Edit</button>
                                </a>
                                <form action="{{ url_for('delete_group') }}" method=post>
                                <input type="text" name="name" value= {{dataG["ID"]}} id = "hiddenInput" readonly>
                                <input type="submit" value="Delete" id = "declineButton"></input>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                  </table>
            </div>
        </div>
        </center>
    </body>
{% endblock %}
